.authentication {
  width: 30%;
  margin: 20px auto auto auto;

  .header {
    display: block;
    text-align: center;
  }

  .widthAll {
    width: 100%;
  }

  .alert {
    color: red;
  }

  .footer {
    text-align: center;
  }
}
